<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
          <h1> <strong>Posts </strong> </h1>
          <ul class="list group">
            <app-appareil         *ngFor="let appareil of appareils"
                                  [appareilName]="appareil.name"
                                  [content]="appareil.content"                               
            ></app-appareil>
          </ul>
    </div>
  </div>
</div>  


